@import 'libs.scss';
@import 'fonts.scss';
@import 'vars.scss';
@import 'extends.scss';
@import 'mixins.scss';

*,
*::before,
*::after{
	box-sizing: border-box;
}

html{
	font-size: 62.5%; // 10px
}

body{
	-webkit-font-smoothing: antialiased;
	@include font('Montserrat-Regular', 18px, 400, $black);
	font-style: normal;
	line-height: 1.2;
	margin: 0;

	min-width: 320px;
	overflow-x: hidden;

	position: relative;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

a{
  text-decoration: none;
  &:focus{
    outline: none;
  }
	&:visited,
	&:hover,
	&:active{
    text-decoration: none;
  }
}

button[type=button]{
	appearance: none;
}

button{
	background: none;
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none;
	&:focus{
		outline: none;
	}
}

input, select, textarea{
	outline: none;
	&:focus{
		outline: none;
	}
}

input[type=search]{
	appearance: none;
	border: none;

	@include font('Montserrat-Regular', 19px, 400, $black);
	background-color: rgba(255, 255, 255, 0.38);
	border-radius: 25px;

	&::placeholder{
		@include font('Montserrat-Regular', 19px, 400, rgba(0, 0, 0, .62));
	}
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.container{
	width: 68.125%; // 1308px from 1920px
	max-width: 1310px;
  padding: 0 15px;
	margin: 0 auto;
}


@import 'header.scss';